.container {
   max-width: 1200px;
   margin: 0 auto;
}

table,
td {
   border: 1px solid blue;
}

#pagination {
   list-style: none;
   display: flex;
   gap: 15px;
   justify-content: center;
   padding: 0;
}

#pagination li {
   text-align: center;
   width: 20px;
   border: 2px solid gold;
   padding: 5px;
   border-radius: 50%;
   cursor: pointer;
}

#pagination li.active {
   background-color: rgb(57, 255, 47);
}
