.search {
   text-align: center;
}

.search__input {
   font-weight: 500;
   font-size: 64px;
   line-height: 95px;
   color: #c4c4c4;
   background-color: transparent;
   border-bottom: 2px solid #c4c4c4;
   margin-bottom: 24px;
}
.search__input::placeholder{
   color: #c4c4c4;
}

.catalog__container {
   display: flex;
   padding: 0 60px;
   gap: 20px;
   max-width: 1400px;
}

.catalog__sb-panel {
   flex-basis: 315px;
   background: #ffffff;
   border: 1px solid #a04955;
   padding: 25px;
   height: 50%;
}

@media screen and (max-width:998px) {
   .catalog__sb-panel {
      height: 100vh;
      overflow-x: scroll;
   }
   .catalog__container{
      flex-direction: column;
      padding: 0;
   }
}

.catalog__sb-panel > div {
   margin-bottom: 20px;
}

.sb-panel__cheked-size,
.sb-panel__cheked-color{
   position: relative;
}
.sb-panel__cheked-size::after,
.sb-panel__cheked-color::after{
   content: '';
   position: absolute;
   bottom: 0;
   width: 100%;
   background-color: #A04955;
   height: 2px;
}

.size-chek{
font-size: 20px;
line-height: 180.8%;
letter-spacing: 0.2em;
color: #000000;
}


.sizes__list {
   padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(40px,1fr));
  gap:15px

}
.sizes__item {
   font-weight: 300;
   font-size: 20px;
   line-height: 180.8%;
   width: 40px;
   height: 36px;
   background: #F1F1F1;
   text-align: center;
   cursor: pointer;
   transition:all .1s linear;
}

.sizes__item:hover{
   scale: 1.5;
}

[data-size]{
   margin-bottom: 20px;
}

.color__gray {
   background-color: #9f9e9e;
}
.color__black {
   background: #000;
}
.color__green {
   background: green;
}
.color__blue {
   background: rgb(32, 3, 218);
}
.color__red {
   background: rgb(242, 3, 3);
}
.color__white {
   background-color: #ffffff;
   border: 1px solid black;
}



.prices__list{
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.price__chekbox{
   display: flex;
   align-items: center;
   gap: 5px;
   font-size: 1.4em;
}

/* PRODUCST */
.catalog__wrapper{
   display: flex;
   flex-direction: column;
   width: 100%;
}

.catalog__items{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(315px,1fr));
   gap : 20px;
   justify-items:stretch;
}



@media screen and (max-width:998px) {
   .catalog__wrapper{
     overflow-x: scroll;
     height: 100vh;
   }
   .catalog__items{
      justify-items: center;
   }
}

/* pagination */

.pagination {
   display: flex;
   justify-content: center;
}

.pagination__list{
   display: flex;
   list-style-type: none;
}

.pagination__item{
   font-size: 1.5em;
   padding: 8px;
   margin: 8px;
   cursor: pointer;
}

.pagination__item--active{
   font-weight: 800;
   color: gold;
}

.color-id{
   color: rgb(129, 3, 255);
}
.color-name{
   color: rgb(251, 255, 3);
}
.color-email{
   color: rgb(247, 6, 34);
}
.color-body{
   color: rgb(3, 255, 196);
}

/* ------- */

.popup{
 display: none;
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
   background-color: rgba(0,0,0,0.7);
}

.popup__body{
   position: relative;
   color: white;
   width: 65%;

   background-color: rgba(3, 19, 27, 0.784);
}

/* @media screen and (max-width:998px) {
   .popup__body{
      height: 50%;
   }
} */

.popup__close{
position: absolute;
top: 0;
right: 0;
font-size: 25px;
background: transparent;
opacity: 0.7;
width: 30px;
color: #FFF;
}
.popup__close:hover{
   opacity: 1;
}
.collections__item-wrapper{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}


.collections__item-popup{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.collections__img-popup{
   flex:0 1 50%;
   position: relative;
    padding-bottom: 50%;
    overflow: hidden;
    display: block;
    width: 100%;
}


.collections__img-popup img{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   vertical-align: top;
}

.collection__desqr-popup{
   flex: 1 1 auto;
   font-size: 2.5em;
   display: flex;
   flex-direction: column;
   gap: 50px;
   align-items: center;
   text-align: center;
}

.desqr{
   margin: 50px auto;
   text-align: center;
   font-size: 2.7em;
   color: rgb(212, 212, 204);
}

.hide{
   display: none;
}